<div class="p-grid p-flex-column p-jc-center">
    <div class="p-col">
        <div class="p-grid p-jc-center">
            <div class="p-col-4 p-text-center">
                <p-card>
                    <h3>Feature toggle list:</h3>
                </p-card>
            </div>
        </div>
    </div>
    <div class="p-col">
        <div class="p-grid p-jc-center">
            <div class="p-col-4" *ngIf="customers && featureToggles && featureToggles.length > 0; else emptyFeatureToggle">
                <div *ngFor="let featureToggle of featureToggles" class="p-mt-2">
                    <feature-toggle-card [customers]="customers" [featureToggle]="featureToggle" (featureToggleActionProceed)="featureToggleActionProceed.emit()"></feature-toggle-card>
                </div>
            </div>
            <ng-template #emptyFeatureToggle>
                <div class="p-col-4">
                    <p-message severity="info" text="There is no customers and/or toggle features"></p-message>
                </div>
            </ng-template>
        </div>
    </div>
</div>