<div class="p-grid p-flex-column">
    <div class="p-col p-text-center">
        <div class="p-grid p-flex-column p-jc-center">
            <div class="p-col">
                <div class="p-grid p-jc-center">
                    <div class="p-col-4 p-text-center">
                        <p-card>
                            <h3>About</h3>
                            <p class="p-text-left">
                                Hello!
                                <br>
                                <br>
                                This is home excersise dedicated to create full-stack project related to creating feature toggles for users.
                                <br>
                                <br>
                                Front-end stack: Typescript, Angular, PrimeNg
                                <br>
                                <br>
                                Back-end stack: Typescript, NodeJS, Express, MongoDB
                                <br>
                                <br>
                                How to use: create customers, create toggle features related to customers, and check feature linked to customer for availability.
                            </p>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
