<div class="p-grid p-flex-column">
    <div class="p-col p-text-center">
        <p-button label="Add new customer" 
                  icon="pi pi-plus"
                  [styleClass]="'p-button-primary p-button-outlined p-button-text'"
                  (onClick)="showAddDialog()"></p-button>
    </div>
    <div class="p-col p-text-center">
        <customers-list [customers]="customers" (customerActionProceed)="refreshCustomers()"></customers-list>
    </div>
</div>
<p-dialog header="Add new customer"
          [(visible)]="displayAddDialog"
          [style]="{width: '15vw'}"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [closeOnEscape]="true"
          [closable]="true">
    <customer-form *ngIf="displayAddDialog" (submitCustomer)="onSubmitCustomer($event)"></customer-form>
</p-dialog>
